* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hind Madurai", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 4.5rem;
    top: 0;
    position: sticky;
    background-color: rgb(118, 69, 211);
    z-index: 1000;
}


.logo {
    padding: 20px 20px 20px 40px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 26px;
    cursor: pointer;
}


.createBlog {
    display: flex;
    flex-direction: row;
}

.createBlog div {
    background-color: rgb(13, 90, 100);
    border: 2px transparent;
    border-radius: 6px;
}

.createBlog a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    transition: transform 0.4s ease;
}


.createBlog a:hover {
    color: rgb(180, 181, 252);
    transform: scale(1.04);
}

main {
    margin: 30px auto;
    background-color: white;
    width: 320px;
    border: 1px solid rgb(241, 241, 190);
    border-radius: 6px;
    box-shadow: 4px 4px 10px  rgba(201, 193, 193, 0.897), -4px -4px 10px  rgba(201, 193, 193, 0.897);
}


form section {
    padding: 16px 0;
}

section input,
select {
    width: 100%;
    height: 1.8rem;
    border-top: 2px solid rgb(187, 187, 187);
    border-bottom: 2px solid  rgb(187, 187, 187);
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 6px;
    background-color: white;
    transition: box-shadow 0.3s ease-in-out;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 8rem;
    border-top: 2px solid rgb(187, 187, 187);
    border-bottom: 2px solid  rgb(187, 187, 187);
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 6px;
    background-color: white;
    transition: box-shadow 0.3s ease-in-out;
}


textarea:focus{
    box-shadow: 0 2px 6px  rgba(78, 78, 78, 0.897), 0 -2px 6px  rgba(78, 78, 78, 0.897);
    outline: none;
}
input:focus {
    box-shadow: 0 2px 6px  rgba(78, 78, 78, 0.897), 0 -2px 6px  rgba(78, 78, 78, 0.897);
    outline: none;
}

select:focus {
    box-shadow: 0 2px 6px  rgba(78, 78, 78, 0.897), 0 -2px 6px  rgba(78, 78, 78, 0.897);
    outline: none;
}

.titulo {
    color: rgb(90, 87, 87);
    text-align: center;
}

#submit {
    width: 4.5rem;
    height: 1.5rem;
    border: 1px solid black;
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in-out;
    background-color: white;
    color: rgb(39, 39, 39);
    cursor: pointer;
}

#submit:hover {
    box-shadow: 0 2px 4px  rgba(48, 48, 51, 0.897), 0 -2px 4px rgba(48, 48, 51, 0.897);
    color: rgb(88, 88, 88);
    outline: none;
}


form div:last-child {
    padding: 0 0 6px 10px;
}

.term {
    padding: 10px 0 0 8px;
}

section label {
    padding-left: 6px;
}

label span {
    transition: color 0.6s ease, border-color 0.6s ease-in-out, border-bottom-style 0.6s ease-in-out;
}

label span:hover {
   color: rgb(104, 103, 103);
   border-bottom-style: solid;
   border-color: rgb(163, 160, 160);
   cursor: pointer;
}

section label {
    font-size: 1.2rem;
}

/* Creando los posts */

.posts {
    margin: 30px auto;
    background-color: white;
    width: 320px;
    min-height: 380px;
    border: 1px solid rgb(241, 241, 190);
    border-radius: 6px;
    box-shadow: 4px 4px 10px  rgba(201, 193, 193, 0.897), -4px -4px 10px  rgba(201, 193, 193, 0.897);
}

.posts h2 {
    text-align: center;
    color: rgb(90, 87, 87);
}

.posts p{
    font-size: 1.2rem;
    line-height: 28px;
    color: rgb(70, 67, 67);
    margin: 40px auto;
    width: 260px;
}

.posts hr {
    width: 300px;
    height: 2px;
    color:  rgb(90, 87, 87);
}
