*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hind Madurai", sans-serif;
}
.container {
    display: grid;
    grid-template: 100px 1fr 100px / 400px 1fr;
    grid-template-areas: "header header"
        "left contenido"
        "footer footer";
    grid-gap: 20px;
    height: 100vh;

}

.header {
    grid-area: header;
}

.left {
    grid-area: left;
}

.contenido {
    grid-area: contenido;
}

.footer {
    grid-area: footer;
}

.item {
    background-color: rgb(62, 59, 252);
    ;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.informacion h3 span {
    /*esta linea es para dar estilo al boton de inicio al final de la pagina*/
    color: rgb(46, 46, 248);
    font-size: 1.2rem;
    text-decoration: none;
}

.container2 {
    display: grid;
    grid-template: 100px 1fr / 400px 1fr;
    grid-template-areas: "header header"
                        "left left"
                        "contenido contenido"
                        "footer footer";
    grid-gap: 20px;
    height: 100vh;
}

.container3 {
    display: grid;
    grid-template: 100px 1fr 100px / 400px 1fr;
    grid-template-areas: "header header header"
                        "right contenido left"
                        "footer footer footer";
    grid-gap: 20px;
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-areas: "header header"
                             "left left"
                             "contenido contenido"
                             "footer footer";
    }
    .container2{
        grid-template-areas:"header header"
                            "left left"
                            "contenido contenido"
                            "footer footer"; 
    }
    .container3{
        grid-template-areas: "header header header"
                            "right right right" 
                            "left left left"
                            "contenido contenido contenico"
                            "footer footer footer";
    }
}